# config vars for the root file system
HYPRIOT_OS_VERSION="v1.2.5"
ROOTFS_TAR_CHECKSUM="c16a2a89945cebbfc8e7367bb02ae20f3e4d247089086b7e57712489a84ce424"

# specific versions of kernel/firmware and docker tools
export DOCKER_CE_VERSION="18.02.0~ce-0~debian"
export DOCKER_COMPOSE_VERSION="1.19.0"
export DOCKER_MACHINE_VERSION="0.13.0"
export KERNEL_VERSION="4.14.20-108"
